<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.garmin.telegrambot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/gerrithall/dev/ox/venv/bin/python</string>
        <string>/Users/gerrithall/dev/ox/garmin_project/manage.py</string>
        <string>run_telegram_bot</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/gerrithall/dev/ox/garmin_project</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/gerrithall/dev/ox/garmin_project/logs/telegram_bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/gerrithall/dev/ox/garmin_project/logs/telegram_bot_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/gerrithall/dev/ox/venv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>



